@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/inter/files/inter-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("@fontsource/inter/files/inter-latin-600-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/lora/files/lora-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("@fontsource/lora/files/lora-latin-600-normal.woff2") format("woff2");
}
